/* TeacherTracker.css */

body {
  background-color: #121212; /* Very dark background */
}

.tracker-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #1e1e1e; /* Slightly lighter container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Stronger shadow */
  border: 1px solid #333; /* Darker border */
}

.tracker-box {
  background-color: #252526; /* Darker box */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.tracker-box img {
  height: 150px;
  margin-bottom: -20px;
}

.tracker-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #f0f0f0; /* Very light gray */
}

.tracker-box p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #d4d4d4; /* Slightly lighter text */
}

.tracker-box select,
.tracker-box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #444; /* Very dark border */
  margin-bottom: 15px;
  font-size: 16px;
  color: #e0e0e0; /* Light gray text */
  background-color: #3b3b3b; /* Very dark input background */
  transition: border-color 0.3s ease;
}

.tracker-box select:focus,
.tracker-box input:focus {
  outline: none;
  border-color: #55e1f7; /* Purple focus */
  box-shadow: 0 0 0 3px rgba(167, 139, 250, 0.3); /* Purple shadow */
}

.tracker-box select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23d4d4d4' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E"); /* Light gray arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 30px;
}

.tracker-box select option {
  background-color: #3b3b3b;
  color: #e0e0e0;
}


.room-entry {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 96%;
}

.room-entry .submit-room-btn {
  padding: 10px 20px;
  border-radius: 6px;
  width: 90%;
  margin-left: 30px;
  background-color: #ced2d2; /* Purple button */
  color: #010000;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.room-entry .submit-room-btn:hover {
  background-color: #72dbf0; /* Darker purple on hover */
}

@media (max-width: 768px) {
  .tracker-container {
    padding: 16px;
  }

  .tracker-box {
    padding: 16px;
  }

  .tracker-box img {
    height: 80px;
  }

  .tracker-box h2 {
    font-size: 20px;
  }

  .tracker-box p {
    font-size: 14px;
  }

  .tracker-box select,
  .tracker-box input {
    font-size: 14px;
    padding: 8px;
  }

  .room-entry .submit-room-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
